<div class="grups-t">
	<% @tutors.each do |tutor| %>
	<h1><%= link_to tutor.nombre, tutor %> - <%= link_to "Eliminar", tutor, method: :delete, class:"delete" %></h1>
		<div class="field">
			Cédula: <%= tutor.cedula %>
		</div>
		<div class="field">
			Programa: <%= tutor.programa %>
		</div>
		<div class="field">
			Semestre: <%= tutor.semestre %>
		</div>
		<div class="field">
			Inf de Contacto: <%= tutor.inf_contact %>
		</div>
	<%end%>
	<div class="fieldnew">
		<%= link_to "Nuevo Tutor", new_tutor_path, class:"btnnew"%>
	</div>
</div>
