<div class="grups-t">
	<% @tutoria.each do |tutori| %>
	<h1><%= link_to tutori.materia, tutori %> - <%= link_to "Eliminar", tutori, method: :delete, class:"delete" %></h1>
		<div class="field">
			Monitor: <%= tutori.monitor %>
		</div>
		<div class="field">
			Materia: <%= tutori.materia %>
		</div>
		<div class="field">
			Salon: <%= tutori.salon %>
		</div>
		<div class="field">
			Fecha: <%= tutori.fecha %>
		</div>
	<%end%>
	<div class="fieldnew">
		<%= link_to "Nueva Monitoria", new_tutorium_path, class:"btnnew"%>
	</div>
</div>