<!DOCTYPE html>
<html>
  <head>
    <title>Monitorias</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
  		<nav class="be-red white large-padding">
  			<ul class="no-list row center-xs">
  				<li style="list-style:none;" class="col-md">
  					<%= link_to "Inicio", root_path%>
  				</li>
  				<li style="list-style:none;" class="col-md">
  					<%= link_to "Monitores", tutors_path%>
  				</li>
  				<li style="list-style:none;" class="col-md">
  					<%= link_to "Monitorias", tutoria_path%>
  				</li>  					
  			</ul>
  		</nav>
  	</header>

    <%= yield %>
  </body>
</html>
